/* ============================= RESPONSIBE DISEÑO ==================================== */
/* ============================= RESPONSIBE DISEÑO ==================================== */
/* ============================= RESPONSIBE DISEÑO ==================================== */
@media only screen and (max-width: 1920px) {

}
@media only screen and (max-width: 1366px) {
 
}
@media only screen and (max-width: 1024px) {
 
  
}
@media only screen and (max-width: 990px) {
  img.animated.flip {
    width: 20% !important;

  }

}

@media only screen and (max-width: 768px) {

  img.animated.flip {
    width: 30% !important;

  }
  .song__item  {
    margin-bottom: 20px;
   }

   i.fas.fa-cart-plus.song__like.mr-1.buy {
    margin-left: 100px;
  }
  .song__title {
    margin-left: 12px;
  }
  .song__artist {
    margin-left: 50px;
  }
  
}
@media only screen and (max-width: 480px) {
  img.animated.flip {
    width: 30% !important;

  }


  .song__item  {
    margin-bottom: 20px;
   }

   i.fas.fa-cart-plus.song__like.mr-1.buy {
    margin-left: 50px;
  }
  .song__title {
    margin-left: 12px;
  }
  .song__artist {
    margin-left: 50px;
  }

}

@media only screen and (max-width: 320px) {
  img.animated.flip {
    width: 30% !important;
   
  }



  .song__item  {
   margin-bottom: 20px;
  }
  i.fas.fa-cart-plus.song__like.mr-1.buy {
    margin-left: 80px;
  }
  .song__title {
    margin-left: 15px;
  }
  .song__artist {
    margin-left: 50px;
  }
 

}


