/* .thumb{
    height: 200px;
    border: 1px solid #000;
    margin: 10px 5px 0 0;
} */

.inputFile{
    margin-left: 20px;
}
.porcentaje_h4{
    margin-left: 20px;
}

.thumb {
   
    color: #b9b9b9;
    height: 50%;
    border: 3px dashed #e8e8e8;
    padding: 5%;
    line-height: 3;
    margin: 5px 1%;
    width: 50%;
    border-radius: 10px;
    text-shadow: 1px 1px 1px #fff;
    background-color: rgba(234,234,234,.35);
    font-family: sans-serif;
    
}

.barra_azul{
    background-color: red;
    width: 100%;
}