.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(0,0,0,0.0); 
    margin-top: -8px;
    color: #007bff;
}
.special-color {
    background-color: #252222 !important;
}


.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover {
    background-color: #007bff !important;

}

/* =============== TABLA ANIMACION A LAS MEMBRESIAS =============== */
.tabla:hover {
    background: #35619e;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}