.navbar.navbar-light .breadcrumb .nav-item.active>.nav-link, .navbar.navbar-light .navbar-nav .nav-item.active>.nav-link {
    background-color: rgba(0,0,0,0.0); 
    margin-top: -8px;
    color: #007bff;
}
.special-color {
    background-color: #252222 !important;
}


.navbar .mega-dropdown .dropdown-menu.mega-menu .sub-menu ul li a:hover {
    background-color: #007bff !important;

}

/* =============== TABLA ANIMACION A LAS MEMBRESIAS =============== */
.tablaMembresias:hover {
    background: #35619e;
    color: #f1f1f2;
    transition: .5s all;
    transform: scale(1.1);
    cursor: pointer;
}

/* ========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN =====================
========================== ESTILOS DEL LOGIN ===================== */
.dropdown-menu {

     left: none;
 
}
/* ======================= ESTILOS HA TABLA DE MEMBRESIAS =====================
======================= ESTILOS HA TABLA DE MEMBRESIAS =====================
======================= ESTILOS HA TABLA DE MEMBRESIAS ===================== */
.membresias{
    margin-top: 180px !important;
}




/* ==========================Panel admin cliente================= */

.myaccount-content {
    border: 2px solid #eeeeee;
    padding: 30px;
    color: white;
}
.myaccount-content input{
 
    color: white;
}

.myaccount-content  i.fas.fa-cloud-download-alt {
    color: white;
}

.myaccount-tab-menu a {
    border: 1px solid #ccc;
    border-bottom: none;
    color: #444444;
    font-weight: 500;
    font-size: 13px;
    display: block;
    padding: 10px 15px;
    text-transform: uppercase;
}

.myaccount-tab-menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.myaccount-tab-menu a i.fa {
    font-size: 14px;
    text-align: center;
    width: 25px;
}

.tab-content .tab-pane.active {
    height: auto;
    opacity: 1;
    overflow: visible;
    visibility: visible;
}

.myaccount-content h3 {
    font-size: 22px;
    border-bottom: 1px dashed #ccc;
    padding-bottom: 10px;
    margin-bottom: 25px;
    font-weight: 400;
}

.myaccount-tab-menu a:last-child {
    border-bottom: 1px solid #ccc;
}

.bontIconosProducto i{
    font-size: 25px;
    text-align: center;
}

.remixerDropdown li {
 
    margin-left: 0px !important;
    text-transform: uppercase;
    font-size: 18px;

}

.dropdown-item:focus, .dropdown-item:hover {
    color: #16181b;
    text-decoration: none;
    background-color: #0247b1;
}
/* ========================== TOP 15 ========================
========================== TOP 15 ========================
========================== TOP 15 ======================== */
.topPrecio{
    background-color: white;
    text-align: center;
}
.topNombreTema{
    color: white !important;
    text-align: center !important;
}

.listsaIconosTop li a i{
    color: #000 !important;
    margin-top: -8px !important;

   
}
.listsaIconosTop li a {
    background-color: white !important;
    
   
}
.listsaIconosTop  .btn-floating.btn-lg {
    width: 40.1px;
    height: 40.1px;
 
    
}



/* ================================= TITLE DE LA TABLA DE PRODUCTOS =========================== */
/* ================================= TITLE DE LA TABLA DE PRODUCTOS =========================== */
/* ================================= TITLE DE LA TABLA DE PRODUCTOS =========================== */
.song__title.cabezeraTitle {
    margin-left: -70px !important;
}
.song__buy {
    min-width: 115px;
    overflow: hidden;
    display: flex;
}

.song__like {

    width: -4px !important;
 
}

  /* ============================= RESPONSIBE DISEÑO ==================================== */
/* ============================= RESPONSIBE DISEÑO ==================================== */
/* ============================= RESPONSIBE DISEÑO ==================================== */
@media only screen and (max-width: 1920px) {
    /* .song__buy {
        width: auto;
        flex-grow: 1;
        min-width: 200px;
        padding: 0 20px;
        overflow: hidden;
    } */
  
  }
  @media only screen and (max-width: 1366px) {
      /* .song__buy {
        width: auto;
        flex-grow: 1;
        min-width: 200px;
        padding: 0 20px;
        overflow: hidden;
    } */
  }
  @media only screen and (max-width: 1024px) {
   
    
  }
  @media only screen and (max-width: 990px) {
   
  
  }
  
  @media only screen and (max-width: 768px) {
  
  }
  @media only screen and (max-width: 480px) {
  
  }

  
/* ========================================== boton de buscar ===========================
========================================== boton de buscar ===========================
========================================== boton de buscar =========================== */
button.form-control.form-control-sm.ml-3.w-60.btnBuscar {
    margin: 10px !important;
    padding: 7.01px;
}
.md-form .form-control {

    color: white !important;

}

option {
  
  color: black;
}

select.form-control.form-control-sm.ml-3.w-60.selectGeneroRemixer {
   
    padding: 10px;
}


/* ===================== REPRODUCTOR DE ONDA ========================= */
/* ===================== REPRODUCTOR DE ONDA ========================= */
/* ===================== REPRODUCTOR DE ONDA ========================= */

/* // mostrar reproductor en el piso booton */
.dzsap-sticktobottom.dzsap-sticktobottom-for-skin-wave {
    bottom: 0;
    opacity: 1;
}

.nav-main.zoomsounds-nav.skin-default.nav-type-mousemove {
    height: 100% !important;
}

.audiogallery .slider-main .slider-clipper > .audioplayer.transitioning-in, .audiogallery .slider-main .slider-clipper > .audioplayer.transitioning-out, .audiogallery .slider-main .slider-clipper > .audioplayer-tobe.transitioning-out, .audiogallery .slider-main .slider-clipper > .audioplayer-tobe.transitioning-in, .audiogallery .slider-main .slider-clipper > .audioplayer.active {
    display: block;
    display: none !important;
}

/* ======================== FOOOTER ===============================
======================== FOOOTER =============================== */

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
    background: #111 !important;
}

.footerSms {
    background: #007bff;
    color: #ffffff;
}

 .footerLatinEdit {

    background: rgba(0,0,0,.97) !important;
    padding-top: 90px !important;
   
}

#mc_embed_signup {
 background: none !important;

}

#mc_embed_signup form {

    padding: 22px 0px 10px 0px !important;
}

.footerSms span {
    margin-left: 40px !important ;
   
}